*{
    margin: 0;
    padding: 0;
   font-family: 'Montserrat', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(./images/bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.icon{
position: relative;
width: 100px;
}

.nav-links{
   flex: 1;
   text-align: right; 
} 
.nav-links ul li{
list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
     color:aliceblue;
     text-decoration: none;
     text-transform: uppercase;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: rgb(251, 79, 0);
    display: block;
    margin: auto;
    transition: .5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color:aliceblue; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 42px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: aliceblue;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    border: 1px solid rgb(251, 79, 0);
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid rgb(251, 79, 0);
    background: rgb(251, 79, 0);
    transition: 1s;
}

nav .fa{
    display: none;

}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgb(251, 79, 0);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}


/* -----About me---------*/

span {
    color:rgb(251, 79, 0);
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: aliceblue;
}

.about img{
    height: auto;
    width: 400px;
}
.about-text{
    width: 550px;
}

.main{
 width: 1130px;
 max-width: 95%;
 margin: 0 auto;
 display: flex;
 align-items: center;
justify-content: space-around;
}

.about-text h1{
    margin-left: 10px;
}



/* -----End About me---------*/


/* -----Servizi---------*/

.servizi{
    width: 1060px;
    margin: auto;
    text-align: center;
    padding: 100px;
}
    h1{
font-size: 36px;
font-weight: 600;
}
    p{
 color: rgb(69, 69, 69);
 font-size: 14px;
 font-weight: 300;
 line-height: 22px;
 padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.servizi-col{
    flex-basis: 30%;
    background-color: aliceblue;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 18px;
    position: relative;
    box-sizing: border-box;
    transition: : .5s;

}

h3{
    color:rgb(251, 79, 0) ;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    align-items: center;
}

.servizi-col:hover{
    box-shadow: 0 0 20px rgb(209, 205, 204);
}


@media(max-width: 700px){   
     .row{
         flex-direction: column;
     }
    }

/* -----End Servizi---------*/

/* ----- Projects---------*/

.project{
    width: 80%;
    background-image: aliceblue;
}

.project img{
    
    width: 400px;
    border-radius: 20px;

}

.boxik{

 width: 1200px;
 max-width: 100%;
 margin-left: 100px;
 padding-top: 20px;
 padding-bottom: 10px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.txt{
    color:rgb(251, 79, 0);
    margin-left: 50px;
}

.project h1{
    font-size: 28px;
    margin-left: 10px;
}
.project h2{
    margin-top: 10px;
    font-size: 18px;
    margin-left: 10px;
}

/* ----- End Projects---------*/





/* -----Form---------*/
.contact-title{
    margin-top: 100px;
    color:aliceblue;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}

.form{
 
    margin: 0;
    padding: 0;
    text-align: center;
}

.form-control{
  margin: 5px;
    width: 500px;
   font-size: 14px;
   margin-bottom: 16px;

}

.input{
    height: 45px;
    
}

.form .hero-btn{
color: black;
padding: 8px 18px;
font-size: 14px;
font-weight: 500;
margin-bottom: 100px;

}



/* -----End Form---------*/